# Core functionality - changes here should be rare!
/src/app.py                   @Halith06
/src/backend/database.py      @Halith06
/src/backend/routers/auth.py  @Halith06

# The frontend will need refactored soon to be more object oriented.
/src/static/   @Halith06
